
	<div class="mileage-car">
		<div class="search-block">
			<div class="search-block_left">
				<div class="cliparts">
					<div class="clipart_block ng-class: {'clipart_block_active': vm.activeClipart == 1}" ng-click="vm.selectClipart(1)">
						<img class="clipart_items" src="../images/light.png" alt="" title="Легковые">
					</div>
					<div class="clipart_block ng-class: {'clipart_block_active': vm.activeClipart == 2}" ng-click="vm.selectClipart(2)">
						<img class="clipart_items" src="../images/suv.png" alt="" title="Внедорожники и пикапы">
					</div>
					<div class="clipart_block ng-class: {'clipart_block_active': vm.activeClipart == 3}" ng-click="vm.selectClipart(3)">
						<img class="clipart_items" src="../images/minivan.png" alt="" title="Минивены и микроавтобусы">
					</div>
				</div>

				<!-- Поиск по региону -->

				<div class="filter-region_block_active ng-class: {'filter-region_block_white': vm.regionBlock == true}">
					<div class="filter-region_block">
						<span class="region_title" ng-click="vm.changeCity()">Где искать</span>
						<div data-ng-class="{'wheel_active': region == vm.activeRegion}" ng-repeat="region in vm.showRegions">
							<div class="filter-region" ng-click="vm.selectRegion(region)">{{region.place}}</div>
						</div>
						<div class="filter-region" ng-click="vm.changeCity()">
							<span class="filter-region">еще</span>
							<img src="../images/chevron-arrow-down.svg" alt="">
						</div>
					</div>

					<div class="region_select_block" ng-show="vm.regionBlock == true">
						<div class="city_list">
							<div data-ng-class="{'wheel_active': region == vm.activeRegion}" ng-repeat="region in vm.regions | orderBy: 'place'">
								<div class="city_list_item" ng-click="vm.selectRegion(region)">{{region.place}}</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Поиск по марке -->

				<div class="filter-region_block_active ng-class: {'filter-region_block_white': vm.brandBlock == true}">
					<div class="filter-region_block">
						<span class="region_title" ng-click="vm.changeBrand()">Марка</span>
						<div data-ng-class="{'wheel_active': brand == vm.activeBrand}" ng-repeat="brand in vm.showBrands">
							<div class="filter-region" ng-click="vm.selectBrand(brand)">{{brand.title}}</div>
						</div>
						<div class="filter-region" ng-click="vm.changeBrand()">
							<span class="filter-region">еще</span>
							<img src="../images/chevron-arrow-down.svg" alt="">
						</div>
					</div>

					<div class="region_select_block" ng-show="vm.brandBlock == true">
						<div class="city_list">
							<div data-ng-class="{'wheel_active': brand == vm.activeBrand}" ng-repeat="brand in vm.brands | orderBy: 'title'">
								<div class="city_list_item" ng-click="vm.selectBrand(brand)">{{brand.title}}</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Поиск по модели -->

				<div class="filter-region_block_active ng-class: {'filter-region_block_white': vm.modelBlock == true}">
					<div class="filter-region_block">
						<span class="region_title" ng-click="vm.changeModel()">Модель</span>
						<div data-ng-class="{'wheel_active': model == vm.activeModel}" ng-repeat="model in vm.showModels" ng-if="vm.brand != null">
							<div class="filter-region" ng-click="vm.selectModel(model)">{{model.name}}</div>
						</div>
						<div class="filter-region" ng-click="vm.changeModel()" ng-if="vm.brand != null">
							<span class="filter-region">еще</span>
							<img src="../images/chevron-arrow-down.svg" alt="">
						</div>
					</div>

					<div class="region_select_block" ng-show="vm.modelBlock == true && vm.brand != null">
						<div class="city_list">
							<div data-ng-class="{'wheel_active': model == vm.activeModel}" ng-repeat="model in vm.models | orderBy: 'title'">
								<div class="city_list_item" ng-click="vm.selectModel(model)">{{model.name}}</div>
							</div>
						</div>
					</div>
				</div>


				<div class="additional_block">
					<div class="additional">
						<input class="additional_check" type="checkbox" name="" ng-model="vm.cleared">
						<span>Растаможен</span>
					</div>
					<div class="additional">
						<input class="additional_check" type="checkbox" name="" ng-model="vm.photo">
						<span>С фото</span>
					</div>
					<div class="additional">
						<input class="additional_check" type="checkbox" name="" ng-model="vm.urgently">
						<span>Срочно, торг</span>
					</div>
				</div>

				<!-- Расширенный поиск -->

				<div class="settings_block ng-class: {'settings_block_white': vm.settingsBlock == true}">
					<div class="settings_head" ng-click="vm.changeSettings()">
						<img src="../images/settings.svg" alt="">
						<span class="region_title">Расширенный поиск</span>
						<img src="../images/chevron-arrow-down.svg" alt="">
					</div>

					<div class="settings_body" ng-show="vm.settingsBlock == true">
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">Страна происхождения марки</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">Состояние машины</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">Кузов</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">Тип двигателя</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">КПП</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">Расположение руля</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div class="settings_select_block">
							<div class="settings_select">
								<div class="in_select">
									<div class="in_select_text">Привод</div>
									<img src="../images/arrow-down.svg" alt="">
								</div>
							</div>
						</div>
						<div></div>
											
					</div>
					<div class="additional_options_block" ng-show="vm.settingsBlock == true">
						<div class="additional_options">
							<div class="additional_options_setting">
								<div class="price-filter_title">Пробег не более, км</div>
								<input class="options_input" type="number" name="">
							</div>
							<div class="additional_options_setting">
								<div class="price-filter_title">Наличие</div>
								<div class="to_order_settings">
									<div class="to_order_options">В наличии</div>
									<div class="to_order_options_right">На заказ</div>
								</div>
							</div>
							<div class="additional_options_setting">
								<div class="price-filter_title">Объем двигателя, л</div>
								<div class="to_order_settings">
									<input class="engine_volume_from" type="number" name="" step="0.1" placeholder="от">
									<input class="engine_volume_to" type="number" name="" step="0.1" placeholder="до">						
								</div>
							</div>
							<div class="additional_options_setting">
								<div class="price-filter_title">Цвет</div>
								<div class="color_options">
									<div class="in_select">
										<div class="in_select_text">Не важно</div>
										<img src="../images/arrow-down.svg" alt="">
									</div>
								</div>
								<div class="metallic_settings">
									<input class="check_metallic" type="checkbox" id="col" ng-model="vm.checkboxModel"/>
									<label class="metallic_text" for="col">металлик</label>
								</div>
							</div>
							<div class="additional_options_setting">
								<input class="search_all" type="" name="" placeholder="Что ищем?">
								<span class="search_all_text">Здесь пишут, что хотят. Даже номер телефона, если ищут своё объявление.</span>
							</div>
						</div>
									
					</div>
				</div>

				
			</div>

			<!-- Правый блок поиска -->

			<div class="search-block_right">
				<div>
					<span class="price-filter_title">Цена</span>
					<div class="input-price_block">
						<input class="input-price" type="" name="" placeholder="от">
						<input class="input-price" type="" name="" placeholder="до">
					</div>
					<div class="help_block">
						<span class="price-filter_help">до 1 млн</span>
						<span class="price-filter_help">1 - 2 млн</span>
						<span class="price-filter_help">2 - 3 млн</span>
					</div>
				</div>
				<div>
					<span class="price-filter_title">Год выпуска</span>
					<div class="input-price_block">
						<input class="input-price" type="" name="" placeholder="от">
						<input class="input-price" type="" name="" placeholder="до">
					</div>
					<div class="help_block">
						<span class="price-filter_help">до 3 лет</span>
						<span class="price-filter_help">до 7 лет</span>
						<span class="price-filter_help">старше 7 лет</span>
					</div>
				</div>
			</div>
		</div>
		<div class="search_footer">
			<button class="btn">Показать объявления</button>
		</div>
	</div>

<ui-view>
		
</ui-view>