<section class="vehicles">
	<div class="submenu">
		<div class="menu-items">Легковые с пробегом</div>
		<div class="menu-items">Легковые новые</div>
		<div class="menu-items">Автосалоны</div>
		<div class="menu-items">Мототехника</div>
	</div>
	<div class="mileage-car">
		<div class="search-block">
			<div class="search-block_left">
				<div class="cliparts">
					<img class="clipart_items" src="../images/light.png" alt="" title="Легковые">
					<img class="clipart_items" src="../images/suv.png" alt="" title="Внедорожники и пикапы">
					<img class="clipart_items" src="../images/minivan.png" alt="" title="Минивены и микроавтобусы">
				</div>
				<div></div>
				<div></div>
				<div></div>
				<div></div>
			</div>
			<div class="search-block_right">
				<div>
					<span>Цена</span>
					<div>
						<input type="" name="" placeholder="от">
						<input type="" name="" placeholder="до">
					</div>
					<div>
						<span>до 1 млн</span>
						<span>1 - 2 млн</span>
						<span>2 - 3 млн</span>
					</div>
				</div>
				<div>
					<span>Год выпуска</span>
					<div>
						<input type="" name="" placeholder="от">
						<input type="" name="" placeholder="до">
					</div>
					<div>
						<span>до 3 лет</span>
						<span>до 7 лет</span>
						<span>старше 7 лет</span>
					</div>
				</div>
			</div>
		</div>
		<div>
			<button>Показать объявления</button>
		</div>
	</div>
</section>
<ui-view>
		
</ui-view>