.header {
	width: 100%;
	padding: 15px;
	position: fixed;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

/*logo*/

.logo {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.logo-img {
	width: 20px;
	height: 20px;
	background-image: url('../../images/gorilla-white.svg');
	background-position: center;
	background-size: cover;
	cursor: pointer;
}

.logo-title {
	font-family: 'Hanalei Fill', cursive;
	color: #fff;
	cursor: pointer;
}

/*menu*/



.menu {
	display: flex;
	flex-flow: row;
	align-items: center;
}

.menu-list {
	display: none;
	flex-flow: row;
	align-items: center;
}

.menu-item {
	display: block;
	padding: 0 20px;
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	color: #fff;
}


.open-menu {
	display: block;
	background-image: url('../../images/menu-white.svg');
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
}

	.open-menu:hover {
		cursor: pointer;
	}

.close-menu {
	display: none;
	background-image: url('../../images/delete-white.svg');
	background-position: center;
	background-size: cover;
	width: 20px;
	height: 20px;
}

	.close-menu:hover {
		cursor: pointer;
	}

