.vehicles {
	width: 100%;
	display: flex;
	flex-flow: column;
	margin-top: 20px;
}

	.submenu {
		width: 100%;
		display: flex;
		flex-flow: row;
		flex-wrap: nowrap;
		align-items: center;
		background-color: #fae8bb;
		padding: 15px 5px;
	}

		.mileage-car {
			display: flex;
			flex-flow: column;
		}

			.search-block {
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				background-color: #fbf1d7;
				padding: 10px;
			}

				.search-block_left {
					display: flex;
					flex-flow: column;
				}

					.cliparts {
						width: 630px;
						padding: 15px 0 15px 50px;
						display: flex;
						flex-flow: row;
						flex-wrap: nowrap;
					}

						.clipart_block {
							padding: 5px 15px;
							margin-right: 50px;
						}

						.clipart_block_active {
							background-color: #ffdd61;
						}

							.clipart_items {								
								width: 100px;
								cursor: pointer;
							}

					.filter-region_block {
						display: flex;
						flex-flow: row;
						flex-wrap: nowrap;
					}

					.filter-region_block_active {
						display: flex;
						flex-flow: column;
						margin: 10px 0;
					}

					.filter-region_block_white {
						display: flex;
						flex-flow: column;
						margin: 10px 0;
						background-color: #fff;
					}

						.region_select_block {
							display: flex;
							flex-flow: row;
							padding: 10px 20px;
						}

							.city_list {								
								column-count: 3;
							}

								.city_list_item {
									padding: 5px;
									font-size: 14px;
									text-decoration: underline;
									text-decoration-style: dotted;
									color: #06c;
									cursor: pointer;
								}

						.region_title {
							font-size: 14px;
							color: #06c;
							font-weight: bold;
							padding: 10px 10px 10px 20px;
							cursor: pointer;
						}

						.filter-region {
							padding: 10px 5px;
							font-size: 14px;
							text-decoration: underline;
							text-decoration-style: dotted;
							color: #06c;
							cursor: pointer;
						}

				.search-block_right {
					width: 250px;
					height: 210px;
					padding: 10px;
					display: flex;
					flex-flow: column;
				}

					.price-filter_title {
						width: 240px;
						display: block;
						margin-bottom: 5px;
						font-size: 14px;
					}

					.input-price_block {
						display: flex;
						flex-flow: row;
						flex-wrap: nowrap;
					}

					.help_block {
						padding: 10px 0;
						display: flex;
						flex-flow: row;
						flex-wrap: nowrap;
						justify-content: space-around;
						margin-bottom: 30px;
					}

						.price-filter_help {
							display: block;
							margin-bottom: 5px;
							font-size: 13px;
							border-bottom: 1px dotted #000;
						}

.additional_block {
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	padding: 10px 10px 0 10px;
	margin-bottom: 10px;
}

	.additional {
		display: flex;
		flex-flow: row;
		flex-wrap: nowrap;
		padding: 10px 20px;
		align-items: center;
		font-size: 14px;
	}

.settings_block {
	display: flex;
	flex-flow: column;
	padding: 10px 30px;
}

.settings_block_white {
	display: flex;
	flex-flow: column;
	padding: 10px 30px;
	background-color: #fff;
}

	.settings_head {
		display: flex;
		flex-flow: row;
		flex-wrap: nowrap;
		cursor: pointer;
	}

	.settings_body {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
	}

		.settings_select_block {
			width: 275px;
			height: 36px;
			display: flex;
			flex-flow: row;
			flex-wrap: wrap;
			padding: 8px 5px 8px 10px;
			margin: 10px 30px 10px 0;
			border: 1px solid grey;
			border-radius: 3px;
		}

			.in_select {
				display: flex;
				flex-flow: row;
				flex-wrap: nowrap;
				align-items: center;
			}

				.in_select_text {
					width: 228px;
					display: block;
					font-size: 14px;
					color: grey;
				}

		.additional_options_block {
			display: flex;
			flex-flow: column;
			margin-top: 10px;
		}

			.additional_options {
				display: flex;
				flex-flow: row;
				flex-wrap: wrap;
			}

				.additional_options_setting {
					display: flex;
					flex-flow: column;
					margin: 10px 30px 10px 0;
				}

				.to_order_settings {
					display: flex;
					flex-flow: row;
					flex-wrap: nowrap;
				}

					.to_order_options {
						width: 137.5px;
						height: 36px;
						border: 1px solid grey;
						border-bottom-left-radius: 3px;
						border-top-left-radius: 3px;
						font-size: 14px;
						text-align: center;
						padding: 10px 0;
						cursor: pointer;
					}

					.to_order_options_right {
						width: 137.5px;
						height: 36px;
						border: 1px solid grey;
						border-left: none;
						border-bottom-right-radius: 3px;
						border-top-right-radius: 3px;
						font-size: 14px;
						text-align: center;
						padding: 10px 0;
						cursor: pointer;
					}

				.metallic_settings  {
					display: flex;
					flex-flow: row;
					flex-wrap: nowrap;
					align-items: center;
					margin-top: 10px;
				}	

					.color_options {
						width: 275px;
						height: 36px;
						display: flex;
						flex-flow: row;
						flex-wrap: wrap;
						padding: 10px;
						border: 1px solid grey;
						border-radius: 3px;
					}

					.metallic_text {
						font-size: 14px;
					}

				.search_all_text {
					display: block;
					font-size: 14px;
					color: grey;
				}


.search_footer {
	width: 100%;
	height: 66px;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background-color: #fae8bb;
	position: sticky;
	bottom: 0;
}