.input {
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}

.input_search {
	width: 100%;
	padding: 10px 5px;
	border-top: 1px solid rgb(169, 169, 169);
	border-bottom: 1px solid rgb(169, 169, 169);
}

.input_price {
	font-size: 14px;
	line-height: 26px;
	color: #000;
	border: 1px solid #abadb3;
	width: 120px;
	height: 36px;
	padding: 5px;
	margin-right: 10px;
}

.input_vin {
	font-size: 1.356em;
	line-height: 26px;
	color: #000;
	border: 1px solid #abadb3;
	width: 15em;
	height: 29px;
	padding: .1em;
}

.check {
	display: inline-block;
	margin: 10px 5px 10px 30px;
}

	.check_text {
		padding: 8px 0;
	}

.input_text {
	width: 90%;
	height: 145px;
	border: 1px solid #abadb3;
	padding: 10px;
}

.input-price {
	font-size: 14px;
	line-height: 26px;
	color: #000;
	border: 1px solid #E8E7E8;
	width: 100%;
	height: 29px;
	padding: 5px;
}

.options_input {
	width: 275px;
	height: 36px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 8px 5px 8px 10px;
}

.engine_volume_from {
	width: 137.5px;
	height: 36px;
	border: 1px solid grey;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	font-size: 14px;
	padding: 10px;
}

.engine_volume_to {
	width: 137.5px;
	height: 36px;
	border: 1px solid grey;
	border-left: none;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 14px;
	padding: 10px;
}

.check_metallic {
	width: 18px;
	height: 18px;
	margin: 0 15px 0 0;
	border: 1px solid grey;
	border-radius: 3px;
	cursor: pointer;
}

.search_all {
	width: 498px;
	height: 36px;
	border: 1px solid grey;
	border-radius: 3px;
	padding: 10px;
	margin-bottom: 10px;
}
